/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 30px
}
h1 {
    color: white;
    background-color: black;
}

h3 {
    background-color: blanchedalmond;
    color: rgb(14, 14, 14);
}

ul {
    background-color: rgba(192, 189, 189, 0.614);
    width: 40%;
    max-width: 300px;
    border-color:black;
    border-width: 100px;
    border-radius: 15px;
    padding: 20px 40px;
    list-style-type: square;
    
}
ol {
    background-color: beige;
    list-style-type: lower-greek;
}
